global
    maxconn 2000

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s


frontend http-in
    bind *:80
    default_backend nginx_servers


backend nginx_servers
    server s1 nginx_proxy:80 check


listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s

